# -----------------------------------
# BACKEND
# -----------------------------------

# Entornos virtuales
backend/venv/

# Cache de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de build/dist
build/
dist/
*.egg-info/

# Archivos de configuración locales
*.env
*.ini
*.local

# -----------------------------------
# FRONTEND
# -----------------------------------

frontend/node_modules/
frontend/dist/

# -----------------------------------
# OS
# -----------------------------------

# macOS / Linux
.DS_Store

# Windows
Thumbs.db

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
