# -----------------------------------
# PYTHON
# -----------------------------------

# Entornos virtuales
backend/venv/

# Cache de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de build/dist
build/
dist/
*.egg-info/

# Archivos de configuración locales
*.env
*.ini
*.local